{% extends "core.html" %}

{% block title %}OpenChat - About Us{% endblock %}

{% block body %}

<body>
	<div class="px-12 lg:px-60 xl:px-96">
		<div class="max-w-4xl mx-auto p-6">
			<h1 class="text-5xl font-bold mb-8">About Us</h1>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">No Sign-Up or Account Creation Required</h2>
				<ul class="list-disc list-inside ml-6">
					<li>Our platform allows you to chat without any sign-up or account creation.
					</li>
					<li>Simply join the chat room and start chatting instantly.</li>
				</ul>
			</section>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">Simple, User-Friendly, and Privacy-Focused</h2>
				<ul class="list-disc list-inside ml-6">
					<li>OpenChat is designed to be simple and user-friendly.</li>
					<li>Our focus is on privacy, ensuring that your conversations remain secure and
						confidential.</li>
				</ul>
			</section>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">Real-Time Chatting Without Personal Information
				</h2>
				<ul class="list-disc list-inside ml-6">
					<li>Join a chat room and chat with anyone in real-time.</li>
					<li>No need to exchange personal information or create an account.</li>
				</ul>
			</section>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">Completely Ephemeral Conversations</h2>
				<ul class="list-disc list-inside ml-6">
					<li>Once you leave the chat room, your conversation is completely erased.</li>
					<li>This ensures a completely ephemeral chat experience, protecting your privacy
						and security.</li>
				</ul>
			</section>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">Perfect for Privacy-Conscious Users</h2>
				<ul class="list-disc list-inside ml-6">
					<li>Our platform is ideal for anyone who values their privacy.</li>
					<li>Enjoy a completely free and anonymous chat experience.</li>
				</ul>
			</section>
		</div>
	</div>
</body>
{% endblock %}
