{% extends "core.html" %}

{% block title %}OpenChat - About Us{% endblock %}

{% block body %}

<body>
	<div class="px-12 lg:px-60 xl:px-96">
		<div class="max-w-4xl mx-auto p-6">
			<h1 class="text-5xl font-bold mb-8">About Us</h1>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">No Sign-Up or Account Creation Required</h2>
				<ul class="list-disc list-inside ml-6">
					<li>Our platform allows you to chat without any sign-up or account creation.
					</li>
					<li>Simply join the chat room and start chatting instantly.</li>
				</ul>
			</section>

			<section class="mb-6">
				<h2 class="text-xl font-semibold mb-4">Simple, User-Friendly, and Privacy-Focused</h2>
				<ul class="list-disc list-inside ml-6">
					<li>OpenChat is designed to be simple and user-friendly.</li>
					<li>Our focus is on privacy, ensuring that your conversations remain secure and
						confidential. Heck we don't even have a database backing this application</li>
				</ul>
			</section>
		</div>
	</div>
</body>
{% endblock %}
