{% extends "base.html" %}

{% block title %}OpenChat - {{room}} {% endblock %}

{% block content %}
<script>
        function navigateHome() {
		if (confirm("Are you sure you want to leave?")) {
		    window.location.replace('/');
		}
        }
	document.body.addEventListener('htmx:oobAfterSwap', function(event) {
		const chatContainer = document.getElementById('notifications');
		chatContainer.scrollTop = chatContainer.scrollHeight;
	});
</script>
<div class="px-3 lg:px-64 xl:px-[420px] h-[calc(100vh-68px)]" hx-ext="ws" ws-connect="{{ wsurl }}">
	<div class="flex flex-row">
		<div class="stats flex-start">
			<div class="stat">
				<div class="stat-title">Online</div>
				<div class="stat-value" hx-get="/online" hx-trigger="every 3s">{{online}}</div>
			</div>
		</div>
		<button class="btn btn-error btn-sm flex-end my-auto ml-auto" onclick="navigateHome()">Leave</button>
	</div>
	<div class="overflow-scroll h-[calc(100vh-216px)]" id="notifications">
	</div>

	<form id="form" ws-send>
	<div class="absolute inset-x-0 bottom-0 lg:px-64 xl:px-[420px] flex flex-row">
		<input type="text" placeholder="Type your message here"
			class="flex input input-bordered input-primary w-full max-w-5xl ml-3"
			name="message"
			autocomplete="off"/>
		<button class="mr-auto btn btn-primary" type="submit">Send</button>
	</div>
	</form>
</div>
{% endblock %}
